<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.bitfire.gfxtablet"
    android:versionCode="5"
    android:versionName="1.4" >

    <uses-sdk />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-configuration android:reqTouchScreen="stylus"/>
    <uses-configuration android:reqTouchScreen="finger"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:largeHeap="true">
        <activity
            android:name="at.bitfire.gfxtablet.CanvasActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="at.bitfire.gfxtablet.SettingsActivity"
            android:label="@string/menu_settings"
            android:parentActivityName=".CanvasActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.bitfire.gfxtablet.CanvasActivity" />
        </activity>
    </application>

</manifest>